#query_home_header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.query_header{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}