<html>
    <head>
        <title> Query Home </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/query_home.css') }}">
         <script src="{{ url_for('static', filename='scripts/query_home.js') }}"></script> 
    </head>
    <body>
        <h2 id="query_home_header"> Welcome to query home</h2>
        
        <div class= 'restaurant_query'>
            <h3 class='query_header'>Search for any restaurant data</h3>
            <div class="form-group">
                <label for="restaurant">Restaurant Name:</label>
                <input type="text"  id="restaurant" placeholder="restaurant name">
            </div>

            <button type="submit" value="Submit" onclick="submit_search();">Search</button>
        </div>

        <div id="new_item_entry" style="display: none">
            <h4 id="restaurant_name"></h4>
            <label for="menu_name">Menu Name:</label>
            <input type="text"  id="menu_name" placeholder="dish name"><br>
            <label for="description">Description:</label>
            <input type="text"  id="description" placeholder="add recipe description"><br>
            <label for="course">Course:</label>
            <input type="text"  id="course" placeholder="add course section"><br>
            <label for="price">Price:</label>
            <input type="text"  id="price" placeholder="add dish price"><br>
            <button type="submit" value="Submit" onclick="submit_item();">add Item</button>
            <p id="submit_response"></p>
        </div>

    </body>
</html>
